<!-- INPUT -->
<div class="row mb-2">
  <div class="col pr-0">
    <input #searchInput class="form-control" style="border-radius: 50px;" placeholder="ค้าหาการช่วยเหลือการใช้งาน">
  </div>
  <div class="col-auto">
    <button (click)="searchBtn(searchInput.value)" type="button" class="btn text-placeholder text-center"
    style="border: none; border-radius: 1.5rem; color: #D9534F; border: 1px solid #D9534F; background-color: #FFF;">
    ค้นหา
  </button>
  </div>
</div>

<div class="mb-2">
  <!-- LIST 1 -->
  <div class="card-border-3 bg-white mt-2" style="cursor: pointer;" (click)="helpCenterDetail()">
    <p class="mb-0">• ฉันจะลงสินค้าได้อย่างไร</p>
  </div>
  <!-- LIST 2 -->
  <div class="card-border-3 bg-white mt-2" style="cursor: pointer;" (click)="helpCenterDetail()">
    <p class="mb-0">• สินค้ารอประมูลคืออะไร</p>
  </div>
  <!-- LIST 3 -->
  <div class="card-border-3 bg-white mt-2" style="cursor: pointer;" (click)="helpCenterDetail()">
    <p class="mb-0">• สินค้ากำลังประมูลคืออะไร</p>
  </div>
  <!-- LIST 4 -->
  <div class="card-border-3 bg-white mt-2" style="cursor: pointer;" (click)="helpCenterDetail()">
    <p class="mb-0">• สินค้าที่ต้องส่งคืออะไร</p>
  </div>
  <!-- LIST 5 -->
  <div class="card-border-3 bg-white mt-2" style="cursor: pointer;" (click)="helpCenterDetail()">
    <p class="mb-0">• สินค้าอยู่ระหว่างส่งคืออะไร</p>
  </div>
  <!-- LIST 6 -->
  <div class="card-border-3 bg-white mt-2" style="cursor: pointer;" (click)="helpCenterDetail()">
    <p class="mb-0">• สินค้ารอการยอมรับคืออะไร</p>
  </div>
  <!-- LIST 7 -->
  <div class="card-border-3 bg-white mt-2" style="cursor: pointer;" (click)="helpCenterDetail()">
    <p class="mb-0">• คืนสินค้าคืออะไร</p>
  </div>
  <!-- LIST 8 -->
  <div class="card-border-3 bg-white mt-2" style="cursor: pointer;" (click)="helpCenterDetail()">
    <p class="mb-0">• สินค้าสินค้าเสร็จเรียบร้อยคืออะไร</p>
  </div>
  <!-- LIST 9 -->
  <div class="card-border-3 bg-white mt-2" style="cursor: pointer;" (click)="helpCenterDetail()">
    <p class="mb-0">• การรีวิวคืออะไร</p>
  </div>
  <!-- LIST 10 -->
  <div class="card-border-3 bg-white mt-2" style="cursor: pointer;" (click)="helpCenterDetail()">
    <p class="mb-0">• การเงินคืออะไร</p>
  </div>
  <!-- LIST 11 -->
  <div class="card-border-3 bg-white mt-2" style="cursor: pointer;" (click)="helpCenterDetail()">
    <p class="mb-0">• สถิติการขายคืออะไร</p>
  </div>
  <!-- LIST 12 -->
  <div class="card-border-3 bg-white mt-2" style="cursor: pointer;" (click)="helpCenterDetail()">
    <p class="mb-0">• การสนับสนุนคืออะไร</p>
  </div>
  <!-- LIST 13 -->
  <div class="card-border-3 bg-white mt-2" style="cursor: pointer;" (click)="helpCenterDetail()">
    <p class="mb-0">• ตั้งค่าบัญชีคืออะไร</p>
  </div>
  <!-- LIST 14 -->
  <div class="card-border-3 bg-white mt-2" style="cursor: pointer;" (click)="helpCenterDetail()">
    <p class="mb-0">• ติดต่อเจ้าหน้าที่คืออะไร</p>
  </div>
</div>
