.page-border-3 {
  border: 3px solid #E7EDF4; 
  border-radius: 10px;
  padding: 20px;
}

.input-style {
  padding: 16px 16px 16px 24px; 
  border-radius: 10px; 
  background-color: #F2F6FA;
}

.bg-input-white {
  box-shadow: none; 
  background-color: #FFF; 
  border-radius: 5px;
}

.btn-submit {
  border: none; 
  border-radius: 1.5rem; 
  width: 100%; 
  color: #fff; 
  background-color: #5CB85C;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 480px) {
  .page-border-3 {
    border: 1.5px solid #E7EDF4;
    border-radius: 0px;
    padding: 10px;
  }
  
  .input-style {
    padding: 10px 10px 10px 15px; 
    border-radius: 0px;
  }

  .text-input {
    font-size: 0.8rem;
  }

  .text-placeholder {
    font-size: 0.7rem;
  }

  .btn-submit {
    width: 95%;
  }
}