<!-- TOP MENU -->
<div class="row">
  <div class="col-auto" style="cursor: pointer;">
    <div class="dropdown">
      <p id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ซื้อการสนับสนุน</p>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="supBuyBanner()">แบนเนอร์</a>
        <a class="dropdown-item" (click)="supBuyProduct()">สินค้า</a>
      </div>
    </div>
  </div>
  <div class="col-auto pl-1" style="color: #FFA101; cursor: pointer;">
    <div class="dropdown">
      <p id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">การสนับสนุน</p>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="supListBanner()">แบนเนอร์</a>
        <a class="dropdown-item">สินค้า</a>
      </div>
    </div>
  </div>
</div>
<!-- END TOP MENU -->

<div class="p-4" style="background-color: #F2F6FA; border-radius: 10px;">
  <p class="mb-2 font-weight-bold">แพคเกจ : โฆษณา 001</p>
  <p class="mb-0">• วันที่สั่งซื้อ : 01/04/2020</p>
  <p class="mb-0">• ราคา : ฿1,000</p>
  <p class="mb-0">• เวลา : 20 วัน</p>
</div>
