<div class="row" style="margin-left: -4px; margin-right: -4px;"> 
  <div (click)="gotoChatAdmin()" class="col-12 col-md-4 col-xl-4 text-center mt-2" style="padding-left: 4px; padding-right: 4px; cursor: pointer;"> 
    <div class="pt-4 pb-4" style="cursor: pointer; background-color: #F2F6FA; border-radius: 10px;">
      <img src="./assets/img/support/svg/noti-chat-icon.svg" style="width: 50px;">
      <p class="mb-0">Chat</p>
      <p class="mb-0" style="font-size: 0.5 rem; color: #F2F6FA;">.</p>
    </div>
  </div>
  <div class="col-12 col-md-4 col-xl-4 text-center mt-2" style="padding-left: 4px; padding-right: 4px;"> 
    <div class="pt-4 pb-4" style="cursor: pointer; background-color: #F2F6FA; border-radius: 10px;">
      <img src="./assets/img/support/svg/Email-Icon.svg" style="width: 50px;">
      <p class="mb-0">E-mail</p>
      <p class="mb-0" style="font-size: 0.5 rem;">support@abidmore.com</p>
    </div>
  </div>
  <div class="col-12 col-md-4 col-xl-4 text-center mt-2" style="padding-left: 4px; padding-right: 4px;"> 
    <div class="pt-4 pb-4" style="cursor: pointer; background-color: #F2F6FA; border-radius: 10px;">
      <img src="./assets/img/support/svg/operator-icon.svg" style="width: 50px;">
    <p class="mb-0">โทรศัพท์</p>
    <p class="mb-0" style="font-size: 0.5 rem;">+66 82-962-4698</p>
    </div>
  </div>
</div>
