<!-- TOP MENU -->
<div class="row">
  <div class="col-auto" style="color: #FFA101; cursor: pointer;">
    <div class="dropdown">
      <p id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ซื้อการสนับสนุน</p>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item">แบนเนอร์</a>
        <a class="dropdown-item" (click)="supBuyProduct()">สินค้า</a>
      </div>
    </div>
  </div>
  <div class="col-auto pl-1" style="cursor: pointer;">
    <div class="dropdown">
      <p id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">การสนับสนุน</p>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="supListBanner()">แบนเนอร์</a>
        <a class="dropdown-item" (click)="supListProduct()">สินค้า</a>
      </div>
    </div>
  </div>
</div>
<!-- END TOP MENU -->

<!-- CONTENT 1 -->
<div class="page-border-3 bg-white mt-2">
  <p class="mb-0">• แบนเนอร์จะสามารถช่วยคุณเพื่อให้ลูกค้าสามารถเห็นหรือรู้จักร้านของคุณได้มากขึ้น โดยแบนเนอร์จะแสดงบน A Bid More ของเรา</p>
  <p class="mb-0">• คุณสามารถเลือกตำแหน่งและช่วงเวลาการแสดงแบนเนอร์ได้ตามต้องการ</p>
  <p class="mb-0">• ติดต่อสอบถามข้อมูลเพิ่มเติมและสั่งซื้อการแสดงแบนเนอร์บน A Bid More ได้จากช่องทางดังนี้</p>
  <div class="row mt-2" style="margin-left: -4px; margin-right: -4px;"> 
    <div class="col-4 text-center" style="padding-left: 4px; padding-right: 4px;"> 
      <div class="pt-4 pb-4" style="cursor: pointer; background-color: #F2F6FA; border-radius: 10px;">
        <img src="./assets/img/support/chat-icon.png" style="width: 50px;">
        <p class="mb-0">Chat</p>
        <p class="mb-0" style="font-size: 0.5 rem; color: #F2F6FA;">.</p>
      </div>
    </div>
    <div class="col-4 text-center" style="padding-left: 4px; padding-right: 4px;"> 
      <div class="pt-4 pb-4" style="cursor: pointer; background-color: #F2F6FA; border-radius: 10px;">
        <img src="./assets/img/support/email-Icon.png" style="width: 50px;">
        <p class="mb-0">E-mail</p>
        <p class="mb-0" style="font-size: 0.5 rem;">support@abidmore.com</p>
      </div>
    </div>
    <div class="col-4 text-center" style="padding-left: 4px; padding-right: 4px;"> 
      <div class="pt-4 pb-4" style="cursor: pointer; background-color: #F2F6FA; border-radius: 10px;">
        <img src="./assets/img/support/operator-icon.png" style="width: 50px;">
      <p class="mb-0">โทรศัพท์</p>
      <p class="mb-0" style="font-size: 0.5 rem;">+66 82-962-4698</p>
      </div>
    </div>
  </div>
  <p class="mt-2 mb-0 font-weight-bold">ตัวอย่างแบนเนอร์บนแอปพลิเคชั่น A Bid More</p>
  <img src="./assets/img/support/app.png" style="max-width: 25%;">
  <p class="mt-2 mb-0 font-weight-bold">ตัวอย่างแบนเนอร์บนเว็บไซต์ A Bid More</p>
  <img src="./assets/img/support/web.png" style="max-width: 100%;">
</div>