<div class="sidebar">
  <app-sidebar></app-sidebar>
</div>
<div class="content_">
  <app-navbar></app-navbar>
  <!-- <div class="container" style="padding-bottom: 30px;"> -->
    <div class="container">
    <router-outlet></router-outlet>
    <!-- <app-register></app-register> -->
    <!-- <app-login></app-login> -->
    <!-- <app-add-product></app-add-product> -->
    <!-- <app-loading></app-loading> -->
  </div>
</div>




<app-modal-sidebar></app-modal-sidebar>

  <!-- <app-login></app-login>
  <app-register></app-register> -->
  

