<!-- TOP MENU -->
<div class="row">
  <div class="col-auto" style="cursor: pointer;"  (click)="summary()">
    <p>สรุปการเงิน</p>
  </div>
  <div class="col-auto pl-1" style="cursor: pointer;" (click)="withdraw()">
    <p>เบิกเงิน</p>
  </div>
  <!-- <div class="col-auto pl-1" style="cursor: pointer;" (click)="deposit()">
    <p>เติมเงิน</p>
  </div> -->
  <div class="col-auto pl-1" style="cursor: pointer;" (click)="waitingWithdraw()">
    <p>รออนุมัติการเบิก</p>
  </div>
  <div class="col-auto pl-1" style="color: #FFA101; cursor: pointer;">
    <p>บริจาค</p>
  </div>
</div>
<!-- END TOP MENU -->

<div class="text-center p-5" style="background-color: #373E48; border-radius: 10px;">
  <h5 class="text-white">฿5,017</h5>
  <p class="mb-0 text-white">ยอดบริจาค</p>
</div>

<div class="mt-2 horizontal-scroll">
<!-- CONTENT TABLE -->
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">ประเภท</th>
      <th scope="col">จำนวนเงิน</th>
      <th scope="col">ค่าขนส่ง</th>
      <th scope="col">ผู้รับบริจาค</th>
      <th scope="col">วันที่</th>
      <th scope="col">รหัสอ้างอิง</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>รหัสสินค้า #V23B98K33</td>
      <td>15,100</td>
      <td>30</td>
      <td>มูลนิธิ 1</td>
      <td>10/05/2020 12:00</td>
      <td>UG1350FPSK8039AA</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>รหัสสินค้า #V23B98K33</td>
      <td>15,100</td>
      <td>30</td>
      <td>มูลนิธิ 1</td>
      <td>10/05/2020 12:00</td>
      <td>UG1350FPSK8039AA</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>รหัสสินค้า #V23B98K33</td>
      <td>15,100</td>
      <td>30</td>
      <td>มูลนิธิ 1</td>
      <td>10/05/2020 12:00</td>
      <td>UG1350FPSK8039AA</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>รหัสสินค้า #V23B98K33</td>
      <td>15,100</td>
      <td>30</td>
      <td>มูลนิธิ 1</td>
      <td>10/05/2020 12:00</td>
      <td>UG1350FPSK8039AA</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>รหัสสินค้า #V23B98K33</td>
      <td>15,100</td>
      <td>30</td>
      <td>มูลนิธิ 1</td>
      <td>10/05/2020 12:00</td>
      <td>UG1350FPSK8039AA</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>รหัสสินค้า #V23B98K33</td>
      <td>15,100</td>
      <td>30</td>
      <td>มูลนิธิ 1</td>
      <td>10/05/2020 12:00</td>
      <td>UG1350FPSK8039AA</td>
    </tr>
  </tbody>
</table>
<!-- END CONTENT TABLE -->
</div>
