<!-- TOP MENU -->
<div class="row">
  <div class="col-auto" style="cursor: pointer;">
    <div class="dropdown">
      <p id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ซื้อการสนับสนุน</p>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="supBuyBanner()">แบนเนอร์</a>
        <a class="dropdown-item" (click)="supBuyProduct()">สินค้า</a>
      </div>
    </div>
  </div>
  <div class="col-auto pl-1" style="color: #FFA101; cursor: pointer;">
    <div class="dropdown">
      <p id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">การสนับสนุน</p>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item">แบนเนอร์</a>
        <a class="dropdown-item" (click)="supListProduct()">สินค้า</a>
      </div>
    </div>
  </div>
</div>
<!-- END TOP MENU -->

<!-- CONTENT 1 -->
<div class="page-border-3 bg-white mt-2">
  <p class="font-weight-bold">ระบบแอปพลิเคชั่น</p>
  <p class="mb-0">• วันที่เริ่มต้น 01/04/2020 (00.01)</p>
  <p class="mb-0">• วันที่สิ้นสุด 31/04/2020 (00:00)</p>
  <p class="mb-0">• ตำแหน่ง 3</p>
  <img class="mt-2 w-100" style="border-radius: 10px;" src="./assets/img/banner/banner1.png">
</div>
<!-- END CONTENT 1 -->

<!-- CONTENT 2 -->
<div class="page-border-3 bg-white mt-2">
  <p class="font-weight-bold">ระบบเว็บไซต์</p>
  <p class="mb-0">• วันที่เริ่มต้น 01/04/2020 (00.01)</p>
  <p class="mb-0">• วันที่สิ้นสุด 31/04/2020 (00:00)</p>
  <p class="mb-0">• ตำแหน่ง 3</p>
  <div class="row" style="margin-left: -4px; margin-right: -4px;">
    <div class="col-8" style="padding-left: 4px; padding-right: 4px;">
      <img class="w-100 h-100" style="border-radius: 10px;" src="./assets/img/banner/banner-black.png">
    </div>
    <div class="col-4" style="padding-left: 4px; padding-right: 4px;">
      <img class="w-100" style="border-radius: 10px;" src="./assets/img/banner/banner2.png">
      <img class="mt-2 w-100" style="border-radius: 10px;" src="./assets/img/banner/banner-black.png">
    </div>
  </div>
</div>
<!-- END CONTENT 2 -->

<!-- CONTENT 3 -->
<div class="page-border-3 bg-white mt-2 mb-4">
  <p class="font-weight-bold">ระบบเว็บไซต์</p>
  <p class="mb-0">• วันที่เริ่มต้น 01/04/2020 (00.01)</p>
  <p class="mb-0">• วันที่สิ้นสุด 31/04/2020 (00:00)</p>
  <p class="mb-0">• ตำแหน่ง 3</p>
  <div class="row" style="margin-left: -4px; margin-right: -4px;">
    <div class="col" style="padding-left: 4px; padding-right: 4px;">
      <img class="mt-2 w-100" style="border-radius: 10px;" src="./assets/img/banner/banner-black.png">
    </div>
    <div class="col" style="padding-left: 4px; padding-right: 4px;">
      <img class="mt-2 w-100" style="border-radius: 10px;" src="./assets/img/banner/banner1.png">
    </div>
    <div class="col" style="padding-left: 4px; padding-right: 4px;">
      <img class="mt-2 w-100" style="border-radius: 10px;" src="./assets/img/banner/banner-black.png">
    </div>
  </div>
</div>
<!-- END CONTENT 3 -->