<!-- TOP MENU -->
<div class="row">
  <div class="col-auto" style="cursor: pointer;" (click)="summary()">
    <p>สรุปการเงิน</p>
  </div>
  <div class="col-auto pl-1" style="cursor: pointer;" (click)="withdraw()">
    <p>เบิกเงิน</p>
  </div>
  <!-- <div class="col-auto pl-1" style="cursor: pointer;" (click)="deposit()">
    <p>เติมเงิน</p>
  </div> -->
  <div class="col-auto pl-1" style="color: #FFA101; cursor: pointer;">
    <p>รออนุมัติการเบิก</p>
  </div>
  <div class="col-auto pl-1 disabled" style="cursor: pointer;" (click)="donate()">
    <p>บริจาค</p>
  </div>
</div>
<!-- END TOP MENU -->
<div *ngIf="showContent">
  <p class="mb-0 text-danger">• รอบวันที่เงินเข้า {{ dateWithdraw.dateWithdraw.seconds*1000 | date: 'd/M/yyyy' }}</p>
  <div class="horizontal-scroll">
    <!-- CONTENT TABLE -->
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">ประเภท</th>
          <th scope="col">จำนวนเงิน</th>
          <th scope="col">ค่าบริการ</th>
          <th scope="col">ยอดเงินเข้าบัญชี</th>
          <th scope="col">เลขที่บัญชี</th>
          <th scope="col">วันที่</th>
          <th scope="col">รหัสอ้างอิง</th>
        </tr>
      </thead>
      <tbody *ngIf="showTable">
        <tr class="table-danger">
          <th scope="row">1</th>
          <td>{{ dataWithdrawWaiting[0].value.description }}</td>
          <td>{{ dataWithdrawWaiting[0].value.amount }}</td>
          <td>{{ dataWithdrawWaiting[0].value.serviceCharge }}</td>
          <td>{{ dataWithdrawWaiting[0].value.withdrawAmount }}</td>
          <td>{{ dataWithdrawWaiting[0].value.bookbank.bankNumber }}</td>
          <td>{{ dataWithdrawWaiting[0].value.createAt.seconds*1000 | date: 'd/M/yyyy' }} {{ dataWithdrawWaiting[0].value.createAt.seconds*1000 | date: "HH:mm:ss" }}</td>
          <td>{{ dataWithdrawWaiting[0].key }}</td>
        </tr>
      </tbody>
    </table>
    <!-- END CONTENT TABLE -->
  </div>
</div>